<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Text parser</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class="navigation">
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">
                        <i class="fa-regular fa-image"></i> Gallery
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('image.upload') }}">
                        <i class="fa-solid fa-upload"></i> Upload
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <section class="container">

      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
  
      {% block content %}{% endblock %}
  
    </section>
  </body>
</html>